*{
  box-sizing: border-box;
}
body{
  background-color: #223;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.box{
  margin-top: 5%;
  width: 750px;
  height: 800px;
  display:inline-block;
}
#chat{
  background-color: green;
}
#users{
  background-color: blue;
  padding: 15px;
}
#text{
  background-color: red;
}
form{
  display: flex;
  padding: 0;
  margin: 0;
}
input{
  padding: 15px;
  border: none;
  border-radius: 6px;
  width: 100%;
}
button{
  border: none;
}
